
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:ital,wght@0,300;0,400;0,900;1,100;1,300;1,700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
  *{
    font-family: 'Work Sans', sans-serif;
  }
  header{
    background: rgba(255, 144, 14, 0.10);
   
  }
  .btn-primary{
    background-color: #FF900E;
    border-radius: 8px;
    border: none;
    margin-top: 32px;
    margin-bottom: 50px;
    padding: 20px 24px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;

  }
  nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 228px;
    align-items: center;
  }
  nav .title{
    color: var(--Dark-01, #131313);
font-size: 45px;
font-weight: 700;

  }
  nav>ul{
    display: flex;
  }
 nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
  }
  nav li a{
    text-decoration: none;
    color: #424242;
  }
/* -------------------Banner section styles start-------------- */
  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }
  .banner-content h1{
    color: var(--Dark-01, #131313);
    font-size: 64px;
    font-weight: 700;
  }
  .banner-content p{
    color: var(--Dark-03, #727272);
    font-size: 16px;
    font-weight: 400;
  }
.banner-image{
    /* width: 960px; */
    margin: 0px 240px;
  
}
.banner-image img{
    width:  100%;
}



/* -------------------SEction 1 start--------------------------- */
main{
  max-width: 1440px;
  margin: 0 auto;
}
.team-container{
  display: flex;
  align-items: center;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 85px;

}
.team-text{
  padding: 76px;
}
.team-title{
  font-size: 45px;
}
.quick-list{
  color: var(--Dark-03, #727272);
  font-weight: 500;
}
.of-our{
  color: var(--Dark-01, #131313);
  font-weight: 700;
}
.features{
  color: #FF900E;
  font-weight: 700;

}
.team-description{
  color: var(--Dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
}
/* -----------------------section two 1.0 start----------------------- */
.features-enjoy{
  display: flex;
  margin-top: 130px;
  gap: 140px;
}
.features-enjoy .team-title{
  border-left: 5px solid #FF900E;
  padding-left: 21px;
}
.card{
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}
.card-title{
  color: var(--Dark-01, #131313);
  font-size: 20px;
  font-weight: 600;
}
.card-description{
  color: var(--Dark-03, #727272);
  font-size: 16px;
  font-weight: 400;
}
.ten-year-badge{
  border-radius: 8px;
background: #FF900E;
width: 342px;
padding: 46px 42px;
position: relative;
bottom: 100px;

}
.ten-year-badge h2{
  color: #FFF;
  text-align: center;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 30px;
}
.ten-year-badge p{
  color: #FFF;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  margin-top: 10px;
}
.features-img img{
  height: 90%;
  margin-left: 50px;
}


/* --------------------Secytion two start------------------------- */
.facts-card {
  display: flex;
  justify-content: space-around;
}
.facts-card .facts{
  border-radius: 8px;
border: 1px solid #FF900E;
text-align: center;
padding: 35px 35px;
}
.card-no{
  color: var(--Dark-02, #424242);
font-size: 45px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 10px;
}
.card-text{
  color: var(--Dark-03, #727272);
font-size: 20px;
font-weight: 600;
margin-top: 10px;
margin-bottom: 15px;
}
/* ----------------------------section3(sponser) start------------- */
.sponser-description{
  text-align: center;
  margin-bottom: 50px;
}
.sponsors-img{
  display:grid ;
  grid-template-columns: repeat(5,1fr);
  gap: 130px;
}
/* ------------------------footer start--------------------------------- */
.footer{
  max-width: 1440px;
  margin: 130px auto;
  border-radius: 8px;
 background: #FFF4E7;
}
.footer p{
  text-align: center;
  padding: 40px 410px;
}
/* ---------------------Responsive media quries-------------------- */
@media screen and (max-width: 576px) {
  nav,
  .team-container,.facts-card,.features-enjoy
  {
      padding: 5px;
      flex-direction: column;
  }
  .team-text{
    padding: 5px; 
 }
  .banner-image{
      margin: 0px 0px;
  }
  .team-img-container{
    grid-template-columns: repeat(1, 1fr);
  }
  .facts-card{
    gap: 15px;
  }
  .sponsors-img{
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
  }
  .features-enjoy{
    margin: 0px
  }
  .features-img img{
    width: 90%;
    margin-left: 0px;
  }
  .ten-year-badge{
    width: 210px;
  }
  .footer{
    width: 100%;
  }
  .footer p{
    padding: 10px 5px;

}
/* --------------------------MEdium devices responsive---------------------- */

@media screen and (min-width: 576px) and (max-width: 992px) {
  nav,.team-container{
      padding: 5px;
      flex-direction: column;
  }
  .features-enjoy{
    flex-direction: column;
  }
  .banner-image{
      margin: 0px 20px;
  }
  .sponsors-img{
    grid-template-columns: repeat(3, 1fr);
    gap: 65px 130px;
}
.footer{
 max-width:  100%;
  margin: 130px ;
}
}
  


